[Unit]
Description=oem side Service
After=network.target nss-lookup.target
Wants=network.target

[Service]
Type=forking
ExecStart=/etc/oem/bootup.sh

[Install]
WantedBy=multi-user.target

