[Unit]
Description=frp Client Service
After=network.target nss-lookup.target
Wants=network.target

[Service]
Type=simple
PIDFile=/var/run/frpc.pid
ExecStart=/usr/bin/frpc -c /etc/frp/client.ini
Restart=on-failure
# Don't restart in the case of configuration error
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target
